/*========================================================================
color
========================================================================*/
$black:#333;
$white:#fcfcfc;
$red:rgb(196, 4, 4);
h1{
  color:$red;
}

/*========================================================================
font-size
========================================================================*/
@mixin fz($size){
  font-size:$size+ px;
  font-size:($size/16)+rem;
}
h1{
  @include fz(48);
}

/*========================================================================
font-family
========================================================================*/
$hikki:bickham-script-pro-3, sans-serif;
h1{
  font-family: $hikki;
}
@import url("https://use.typekit.net/nks2pnr.css");

/*========================================================================
breakpoints
========================================================================*/
$breakpoints: (
  'xs': (min-width: 0),
  'sm': (min-width: 576px),
  'md': (min-width: 768px),
  'lg': (min-width: 992px),
  'xl': (min-width: 1200px),
  'xxl': (min-width: 1400px)
) !default;