/*———————————

_setting.scss

———————————*/

/*
color
———————————*/
$black:#000;
$dark:#333;
$white:#fff;
$light:#eee;


/*
font-size
———————————*/
@mixin fz($size){
  font-size:$size+ px;
  font-size:($size/16)+rem;
}

/*
font-family
———————————*/

/*
header-height
———————————*/
$header-height:52px;