@charset "UTF-8";
/*———————————

_reset.scss

———————————*/
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*———————————

_setting.scss

———————————*/
/*
color
———————————*/
/*
font-size
———————————*/
/*
font-family
———————————*/
/*
header-height
———————————*/
/*———————————

_mixin.scss

———————————*/
/*
z-index
———————————*/
/*========================================================================
base layout
========================================================================*/
* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 75%;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 87.5%;
  }
}
@media screen and (min-width: 1200px) {
  html {
    font-size: 100%;
  }
}

body {
  font-size: 1em;
  line-height: 1.5;
}

li {
  list-style: none;
}

/*———————————

_btn.scss

———————————*/
/*
btn
———————————*/
.btn {
  display: inline-block;
  text-decoration: none;
}

/*
文字色
———————————*/
.btn--dark {
  color: #eee;
}

.btn--light {
  color: #333;
}

/*
背景色
———————————*/
.btn--bg-dark {
  background: #333;
  border: 1px solid #333;
}

.btn--bg-light {
  background: #eee;
  border: 1px solid #333;
}

/*
大きさ
———————————*/
.btn--small {
  padding: 5px 15px;
}

.btn--large {
  padding: 10px 30px;
}

/*
形状
———————————*/
.btn--square {
  border-radius: 0;
}

.btn--rounded {
  border-radius: 100vh;
}

/*———————————

_header.scss

———————————*/
/*
header
———————————*/
.global-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 52px;
  background: #fff;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.global-header__nav {
  display: block;
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  width: 300px;
  height: 100vh;
  background: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.is-open {
  width: 100%;
  height: 100vh;
  right: 0;
}

.drawer-menu__overlay {
  width: 100%;
  height: 100%;
}

.is-open .drawer-menu__overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  z-index: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.drawer-menu__container {
  width: 300px;
  height: 100%;
  background: #fff;
  position: absolute;
  right: -300px;
  cursor: default;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.is-open .drawer-menu__container {
  position: absolute;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.drawer-menu__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.drawer-menu__item:not(:last-of-type) {
  margin-bottom: 30px;
}

.drawer-menu__link {
  text-decoration: none;
  color: #333;
}
.drawer-menu__link:hover {
  opacity: 0.8;
}

.drawer-menu__close-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 52px;
  height: 52px;
  background: #333;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.drawer-menu__close-button:hover {
  opacity: 0.8;
}

.drawer-menu__close-button-bar {
  bottom: 0;
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
}
.drawer-menu__close-button-bar::before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 50%;
  width: 100%;
  background: #fff;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}
.drawer-menu__close-button-bar::after {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  bottom: 50%;
  width: 100%;
  background: #fff;
  -webkit-transform: translateY(50%) rotate(-45deg);
          transform: translateY(50%) rotate(-45deg);
}

.drawer-menu__open-button {
  right: 0;
  width: 52px;
  height: 52px;
  background: #333;
  position: absolute;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.drawer-menu__open-button:hover {
  opacity: 0.8;
}

.drawer-menu__open-button-bar {
  bottom: 0;
  height: 2px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 18px;
  background: #fff;
}
.drawer-menu__open-button-bar::before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: -5px;
  width: 100%;
  background: #fff;
}
.drawer-menu__open-button-bar::after {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  bottom: -5px;
  width: 100%;
  background: #fff;
}

/*———————————

app.scss

———————————*/
/*
app
———————————*/
body {
  height: 3000px;
}
/*# sourceMappingURL=app.css.map */